html
  scroll-behavior: smooth

.ui.header
  &.main-header
    margin: 0
    &:not(:first-child)
      margin-top: 1em

.ui.segments
  &.main-segments
    border: none
    margin: 0
    .ui.segment
      &.main-segment
        &:not(:first-child)
          border-top: 1px solid $colorGreyInverted !important

.ui.segment
  &.main-segment
    border-radius: 0 !important
    padding: 0

.icon
  &.dont
    position: sticky !important
    z-index: 1
  &.image
    &.large
      font-size: 1.5em !important

.ui.container
  &.main-container
    padding: 3em

.ui.modal
  .scrolling.content
    max-height: calc(100vh - 10rem)

.main-link
  color: unset !important
  cursor: pointer
  &:hover,
  .ui.header:hover
    color: $colorBase !important

.main-popup
  &.inverted
    border: $borderInverted !important
